.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 0.9375rem;
	line-height: 1.84615385;
	border-radius: 3px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	&:hover {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
		outline: 0;
		box-shadow: 0 0 0 2px rgba(194, 197, 199, 0.25);
	}
	&.focus {
		outline: 0;
		box-shadow: 0 0 0 2px rgba(194, 197, 199, 0.25);
	}
	&.disabled,
	&:disabled {
		opacity: 0.65;
	}
	&:not(:disabled):not(.disabled) {
		cursor: pointer;
		&:active,
		&.active {
			background-image: none;
		}
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	.btn {
		transition: none;
	}
}

a.btn.disabled,
fieldset:disabled a.btn {
	pointer-events: none;
}

.btn-secondary {
	color: $white;
	background-color: $secondary;
	border-color: $secondary;
	&:hover {
		color: $white;
		background-color: #e61470;
		border-color: #e61470;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(246, 109, 155, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: $secondary;
		border-color: $secondary;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #e61470;
			border-color: #e61470;
		}
	}
}

.show>.btn-secondary.dropdown-toggle {
	color: $white;
	background-color: #e61470;
	border-color: #e61470;
}

.btn-secondary:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(246, 109, 155, 0.5);
	}
}

.show>.btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(246, 109, 155, 0.5);
}

.btn-success {
	color: $white;
	background-color: $success;
	border-color: $success;
	&:hover {
		color: $white;
		background-color: #02d277;
		border-color: #02d277;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(94, 186, 0, 0.1);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: $success;
		border-color: $success;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #00ff91;
			border-color: #00ff91;
		}
	}
}

.show>.btn-success.dropdown-toggle {
	color: $white;
	background-color: #00ff91;
	border-color: #00ff91;
}

.btn-success:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(94, 186, 0, 0.1);
	}
}

.show>.btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(94, 186, 0, 0.1);
}

.btn-info {
	color: $white;
	background-color: $info;
	border-color: $info;
	&:hover {
		color: $white;
		background-color: #00c3ff;
		border-color: #00c3ff;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(69, 170, 242, 0.1);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #00d6e6;
		border-color: #00d6e6;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #0ca7ec;
			border-color: #0ca7ec;
		}
	}
}

.show>.btn-info.dropdown-toggle {
	color: $white;
	background-color: #0ca7ec;
	border-color: #0ca7ec;
}

.btn-info:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(69, 170, 242, 0.1);
	}
}

.show>.btn-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(69, 170, 242, 0.1);
}

.btn-warning {
	color: $white;
	background-color: $warning;
	border-color: $warning;
	&:hover {
		color: $white;
		background-color: #ffaa33;
		border-color: #ffaa33;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(241, 196, 15, 0.1);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: $yellow;
		border-color: $yellow;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #ffaa33;
			border-color: #ffaa33;
		}
	}
}

.show>.btn-warning.dropdown-toggle {
	color: $white;
	background-color: #ffaa33;
	border-color: #ffaa33;
}

.btn-warning:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(241, 196, 15, 0.1);
	}
}

.show>.btn-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(241, 196, 15, 0.1);
}

.btn-danger {
	color: $white;
	background-color: $danger;
	border-color: $danger;
	&:hover {
		color: $white;
		background-color: #fb5b50;
		border-color: #fb5b50;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(205, 32, 31, 0.1);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: $danger;
		border-color: $danger;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #fb5b50;
			border-color: #fb5b50;
		}
	}
}

.show>.btn-danger.dropdown-toggle {
	color: $white;
	background-color: #fb5b50;
	border-color: #fb5b50;
}

.btn-danger:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(205, 32, 31, 0.1);
	}
}

.show>.btn-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(205, 32, 31, 0.1);
}

.btn-light {
	color: #3d4e67;
	background-color: #f9faff;
	border-color: #e8ebf3;
	&:hover {
		color: #3d4e67;
		background-color: #f9faff;
		border-color: #f9faff;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(248, 249, 250, 0.1);
	}
	&.disabled,
	&:disabled {
		color: #3d4e67;
		background-color: #f9faff;
		border-color: #e8ebf3;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: #3d4e67;
			background-color: #dae0e5;
			border-color: #d3d9df;
		}
	}
}

.show>.btn-light.dropdown-toggle {
	color: #3d4e67;
	background-color: #dae0e5;
	border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(248, 249, 250, 0.1);
	}
}

.show>.btn-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(248, 249, 250, 0.1);
}

.btn-dark {
	color: $white;
	background-color: $dark;
	border-color: $dark;
	&:hover {
		color: $white;
		background-color: #23272b;
		border-color: #1d2124;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(52, 58, 64, 0.1);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: $dark;
		border-color: $dark;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #1d2124;
			border-color: #171a1d;
		}
	}
}

.show>.btn-dark.dropdown-toggle {
	color: $white;
	background-color: #1d2124;
	border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(52, 58, 64, 0.1);
	}
}

.show>.btn-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(52, 58, 64, 0.1);
}

.btn-outline-secondary {
	color: #7b838f;
	background-color: transparent;
	background-image: none;
	border-color: #eef2f9;
	&:hover {
		color: #7b838f;
		background-color: #eef2f9;
		border-color: #eef2f9;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(134, 142, 150, 0.1);
	}
	&.disabled,
	&:disabled {
		color: #7b838f;
		background-color: transparent;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: #7b838f;
			background-color: #eef2f9;
			border-color: #eef2f9;
		}
	}
}

.show>.btn-outline-secondary.dropdown-toggle {
	color: #7b838f;
	background-color: #eef2f9;
	border-color: #eef2f9;
}

.btn-outline-secondary:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(134, 142, 150, 0.1);
	}
}

.show>.btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(134, 142, 150, 0.1);
}

.btn-outline-success {
	color: $success;
	background-color: transparent;
	background-image: none;
	border-color: $success;
	&:hover {
		color: $white;
		background-color: $success;
		border-color: $success;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(94, 186, 0, 0.1);
	}
	&.disabled,
	&:disabled {
		color: $success;
		background-color: transparent;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: $success;
			border-color: $success;
		}
	}
}

.show>.btn-outline-success.dropdown-toggle {
	color: $white;
	background-color: $success;
	border-color: $success;
}

.btn-outline-success:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(94, 186, 0, 0.1);
	}
}

.show>.btn-outline-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(94, 186, 0, 0.1);
}

.btn-outline-info {
	color: #00d6e6;
	background-color: transparent;
	background-image: none;
	border-color: #00d6e6;
	&:hover {
		color: $white;
		background-color: #00d6e6;
		border-color: #00d6e6;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(69, 170, 242, 0.1);
	}
	&.disabled,
	&:disabled {
		color: #00d6e6;
		background-color: transparent;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #00d6e6;
			border-color: #00d6e6;
		}
	}
}

.show>.btn-outline-info.dropdown-toggle {
	color: $white;
	background-color: #00d6e6;
	border-color: #00d6e6;
}

.btn-outline-info:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(69, 170, 242, 0.1);
	}
}

.show>.btn-outline-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(69, 170, 242, 0.1);
}

.btn-outline-warning {
	color: $yellow;
	background-color: transparent;
	background-image: none;
	border-color: $yellow;
	&:hover {
		color: $white;
		background-color: $yellow;
		border-color: $yellow;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(241, 196, 15, 0.1);
	}
	&.disabled,
	&:disabled {
		color: $yellow;
		background-color: transparent;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: $yellow;
			border-color: $yellow;
		}
	}
}

.show>.btn-outline-warning.dropdown-toggle {
	color: $white;
	background-color: $yellow;
	border-color: $yellow;
}

.btn-outline-warning:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(241, 196, 15, 0.1);
	}
}

.show>.btn-outline-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(241, 196, 15, 0.1);
}

.btn-outline-danger {
	color: $danger;
	background-color: transparent;
	background-image: none;
	border-color: $danger;
	&:hover {
		color: $white;
		background-color: $danger;
		border-color: $danger;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(205, 32, 31, 0.1);
	}
	&.disabled,
	&:disabled {
		color: $danger;
		background-color: transparent;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: $danger;
			border-color: $danger;
		}
	}
}

.show>.btn-outline-danger.dropdown-toggle {
	color: $white;
	background-color: $danger;
	border-color: $danger;
}

.btn-outline-danger:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(205, 32, 31, 0.1);
	}
}

.show>.btn-outline-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(205, 32, 31, 0.1);
}

.btn-outline-light {
	color: #f8f9fa;
	background-color: transparent;
	background-image: none;
	border-color: #f8f9fa;
	&:hover {
		color: #3d4e67;
		background-color: #f8f9fa;
		border-color: #f8f9fa;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(248, 249, 250, 0.1);
	}
	&.disabled,
	&:disabled {
		color: #f8f9fa;
		background-color: transparent;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: #3d4e67;
			background-color: #f8f9fa;
			border-color: #f8f9fa;
		}
	}
}

.show>.btn-outline-light.dropdown-toggle {
	color: #3d4e67;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(248, 249, 250, 0.1);
	}
}

.show>.btn-outline-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(248, 249, 250, 0.1);
}

.btn-outline-dark {
	color: $dark;
	background-color: transparent;
	background-image: none;
	border-color: $dark;
	&:hover {
		color: $white;
		background-color: $dark;
		border-color: $dark;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(52, 58, 64, 0.1);
	}
	&.disabled,
	&:disabled {
		color: $dark;
		background-color: transparent;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: $dark;
			border-color: $dark;
		}
	}
}

.show>.btn-outline-dark.dropdown-toggle {
	color: $white;
	background-color: $dark;
	border-color: $dark;
}

.btn-outline-dark:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(52, 58, 64, 0.1);
	}
}

.show>.btn-outline-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(52, 58, 64, 0.1);
}

.btn-link {
	font-weight: 400;
	background-color: transparent;
	&:hover {
		color: #295a9f;
		text-decoration: underline;
		background-color: transparent;
		border-color: transparent;
	}
	&:focus,
	&.focus {
		text-decoration: underline;
		border-color: transparent;
		box-shadow: none;
	}
	&:disabled,
	&.disabled {
		color: #868e96;
		pointer-events: none;
	}
}

.btn-lg,
.btn-group-lg>.btn {
	padding: 0.5rem 1rem;
	font-size: 1.125rem;
	line-height: 1.625;
	border-radius: 3px;
}

.btn-sm,
.btn-group-sm>.btn {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.33333333;
	border-radius: 3px;
}

.btn-block {
	display: block;
	width: 100%;
	+.btn-block {
		margin-top: 0.5rem;
	}
}

input {
	&[type="submit"].btn-block,
	&[type="reset"].btn-block,
	&[type="button"].btn-block {
		width: 100%;
	}
}

.fade {
	transition: opacity 0.15s linear;
	&:not(.show) {
		opacity: 0;
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	.fade {
		transition: none;
	}
}

.collapse:not(.show) {
	display: none;
	background: $white;
}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	transition: height 0.35s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
	.collapsing {
		transition: none;
	}
}


/*--- btn Styles---*/

.btn {
	cursor: pointer;
	font-weight: 400;
	letter-spacing: .03em;
	font-size: 0.8125rem;
	min-width: 2.375rem;
}

.btn-icon {
	padding-left: .5rem;
	padding-right: .5rem;
	text-align: center;
}

.btn.btn-app {
	position: relative;
	padding: 15px 5px;
	margin: 0 0 10px 10px;
	min-width: 80px;
	height: 60px;
	box-shadow: none;
	border-radius: 0;
	text-align: center;
	color: #a7b4c9;
	border: 1px solid #e8ebf3;
	background-color: #f9faff;
	font-size: 12px;
	> {
		.fa,
		.glyphicon,
		.ion {
			font-size: 20px;
			display: block;
		}
	}
	&:hover {
		background: #f9faff;
		color: #3f5068;
		border-color: #e8ebf3;
	}
	&:active,
	&:focus {
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}
	>.badge {
		position: absolute;
		top: -3px;
		right: -10px;
		font-weight: 400;
	}
}


/*.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px #eef2f9;
}*/

.btn-pill {
	border-radius: 10rem;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.btn-square {
	border-radius: 0;
}

.btn-facebook {
	color: $white;
	background-color: #1c51dc;
	border-color: #1c51dc;
	&:hover,
	&.active {
		color: $white;
		background-color: #0941d3;
		border-color: #0941d3;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(59, 89, 152, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #0941d3;
		border-color: #0941d3;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #0941d3;
			border-color: #0941d3;
		}
	}
}

.show>.btn-facebook.dropdown-toggle {
	color: $white;
	background-color: #0941d3;
	border-color: #0941d3;
}

.btn-facebook:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(59, 89, 152, 0.5);
	}
}

.show>.btn-facebook.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(59, 89, 152, 0.5);
}

.btn-twitter {
	color: $white;
	background-color: #1da1f2;
	border-color: #1da1f2;
	&:hover {
		color: $white;
		background-color: #0d8ddc;
		border-color: #0c85d0;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(29, 161, 242, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #1da1f2;
		border-color: #1da1f2;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #0c85d0;
			border-color: #0b7ec4;
		}
	}
}

.show>.btn-twitter.dropdown-toggle {
	color: $white;
	background-color: #0c85d0;
	border-color: #0b7ec4;
}

.btn-twitter:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(29, 161, 242, 0.5);
	}
}

.show>.btn-twitter.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(29, 161, 242, 0.5);
}

.btn-google {
	color: $white;
	background-color: #f35243;
	border-color: #f35243;
	&.active,
	&:hover {
		color: $white;
		background-color: #d04237;
		border-color: #d04237;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(220, 78, 65, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #d04237;
		border-color: #d04237;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #d04237;
			border-color: #d04237;
		}
	}
}

.show>.btn-google.dropdown-toggle {
	color: $white;
	background-color: #d04237;
	border-color: #d04237;
}

.btn-google:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(220, 78, 65, 0.5);
	}
}

.show>.btn-google.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(220, 78, 65, 0.5);
}

.btn-youtube {
	color: $white;
	background-color: #f00;
	border-color: #f00;
	&:hover {
		color: $white;
		background-color: #d90000;
		border-color: #cc0000;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #f00;
		border-color: #f00;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #cc0000;
			border-color: #bf0000;
		}
	}
}

.show>.btn-youtube.dropdown-toggle {
	color: $white;
	background-color: #cc0000;
	border-color: #bf0000;
}

.btn-youtube:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5);
	}
}

.show>.btn-youtube.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5);
}

.btn-vimeo {
	color: $white;
	background-color: #1ab7ea;
	border-color: #1ab7ea;
	&:hover {
		color: $white;
		background-color: #139ecb;
		border-color: #1295bf;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(26, 183, 234, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #1ab7ea;
		border-color: #1ab7ea;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #1295bf;
			border-color: #108cb4;
		}
	}
}

.show>.btn-vimeo.dropdown-toggle {
	color: $white;
	background-color: #1295bf;
	border-color: #108cb4;
}

.btn-vimeo:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(26, 183, 234, 0.5);
	}
}

.show>.btn-vimeo.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(26, 183, 234, 0.5);
}

.btn-dribbble {
	color: $white;
	background-color: #ea4c89;
	border-color: #ea4c89;
	&:hover {
		color: $white;
		background-color: #e62a72;
		border-color: #e51e6b;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(234, 76, 137, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #ea4c89;
		border-color: #ea4c89;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #e51e6b;
			border-color: #dc1a65;
		}
	}
}

.show>.btn-dribbble.dropdown-toggle {
	color: $white;
	background-color: #e51e6b;
	border-color: #dc1a65;
}

.btn-dribbble:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(234, 76, 137, 0.5);
	}
}

.show>.btn-dribbble.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(234, 76, 137, 0.5);
}

.btn-github {
	color: $white;
	background-color: #181717;
	border-color: #181717;
	&:hover {
		color: $white;
		background-color: #040404;
		border-color: black;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(24, 23, 23, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #181717;
		border-color: #181717;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: black;
			border-color: black;
		}
	}
}

.show>.btn-github.dropdown-toggle {
	color: $white;
	background-color: black;
	border-color: black;
}

.btn-github:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(24, 23, 23, 0.5);
	}
}

.show>.btn-github.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(24, 23, 23, 0.5);
}

.btn-instagram {
	color: $white;
	background-color: #e4405f;
	border-color: #e4405f;
	&:hover {
		color: $white;
		background-color: #de1f44;
		border-color: #d31e40;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(228, 64, 95, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #e4405f;
		border-color: #e4405f;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #d31e40;
			border-color: #c81c3d;
		}
	}
}

.show>.btn-instagram.dropdown-toggle {
	color: $white;
	background-color: #d31e40;
	border-color: #c81c3d;
}

.btn-instagram:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(228, 64, 95, 0.5);
	}
}

.show>.btn-instagram.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(228, 64, 95, 0.5);
}

.btn-pinterest {
	color: $white;
	background-color: #bd081c;
	border-color: #bd081c;
	&:hover {
		color: $white;
		background-color: #980617;
		border-color: #8c0615;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(189, 8, 28, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #bd081c;
		border-color: #bd081c;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #8c0615;
			border-color: #800513;
		}
	}
}

.show>.btn-pinterest.dropdown-toggle {
	color: $white;
	background-color: #8c0615;
	border-color: #800513;
}

.btn-pinterest:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(189, 8, 28, 0.5);
	}
}

.show>.btn-pinterest.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(189, 8, 28, 0.5);
}

.btn-vk {
	color: $white;
	background-color: #6383a8;
	border-color: #6383a8;
	&:hover {
		color: $white;
		background-color: #527093;
		border-color: #4d6a8b;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(99, 131, 168, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #6383a8;
		border-color: #6383a8;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #4d6a8b;
			border-color: #496482;
		}
	}
}

.show>.btn-vk.dropdown-toggle {
	color: $white;
	background-color: #4d6a8b;
	border-color: #496482;
}

.btn-vk:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(99, 131, 168, 0.5);
	}
}

.show>.btn-vk.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(99, 131, 168, 0.5);
}

.btn-rss {
	color: $white;
	background-color: #ffa500;
	border-color: #ffa500;
	&:hover {
		color: $white;
		background-color: #d98c00;
		border-color: #cc8400;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(255, 165, 0, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #ffa500;
		border-color: #ffa500;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #cc8400;
			border-color: #bf7c00;
		}
	}
}

.show>.btn-rss.dropdown-toggle {
	color: $white;
	background-color: #cc8400;
	border-color: #bf7c00;
}

.btn-rss:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(255, 165, 0, 0.5);
	}
}

.show>.btn-rss.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(255, 165, 0, 0.5);
}

.btn-flickr {
	color: $white;
	background-color: #0063dc;
	border-color: #0063dc;
	&:hover {
		color: $white;
		background-color: #0052b6;
		border-color: #004ca9;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(0, 99, 220, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #0063dc;
		border-color: #0063dc;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #004ca9;
			border-color: #00469c;
		}
	}
}

.show>.btn-flickr.dropdown-toggle {
	color: $white;
	background-color: #004ca9;
	border-color: #00469c;
}

.btn-flickr:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(0, 99, 220, 0.5);
	}
}

.show>.btn-flickr.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(0, 99, 220, 0.5);
}

.btn-bitbucket {
	color: $white;
	background-color: #0052cc;
	border-color: #0052cc;
	&:hover {
		color: $white;
		background-color: #0043a6;
		border-color: #003e99;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(0, 82, 204, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #0052cc;
		border-color: #0052cc;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #003e99;
			border-color: #00388c;
		}
	}
}

.show>.btn-bitbucket.dropdown-toggle {
	color: $white;
	background-color: #003e99;
	border-color: #00388c;
}

.btn-bitbucket:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(0, 82, 204, 0.5);
	}
}

.show>.btn-bitbucket.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(0, 82, 204, 0.5);
}

.btn-blue {
	color: $white;
	background-color: $blue;
	border-color: $blue;
	&:hover {
		color: $white;
		background-color: #316cbe;
		border-color: #2861b1;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(5, 117, 230, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: $blue;
		border-color: $blue;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #2861b1;
			border-color: #2c60a9;
		}
	}
}

.show>.btn-blue.dropdown-toggle {
	color: $white;
	background-color: #2861b1;
	border-color: #2c60a9;
}

.btn-blue:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(5, 117, 230, 0.5);
	}
}

.show>.btn-blue.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(5, 117, 230, 0.5);
}

.btn-indigo {
	color: $white;
	background-color: $indigo;
	border-color: $indigo;
	&:hover {
		color: $white;
		background-color: #485ac4;
		border-color: #3f51c1;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(101, 116, 205, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: $indigo;
		border-color: $indigo;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #3f51c1;
			border-color: #3b4db7;
		}
	}
}

.show>.btn-indigo.dropdown-toggle {
	color: $white;
	background-color: #3f51c1;
	border-color: #3b4db7;
}

.btn-indigo:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(101, 116, 205, 0.5);
	}
}

.show>.btn-indigo.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(101, 116, 205, 0.5);
}

.btn-purple {
	color: $white;
	background-color: $purple;
	border-color: $purple;
	&:hover {
		color: $white;
		background-color: #923ce6;
		border-color: #8c31e4;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(165, 94, 234, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: $purple;
		border-color: $purple;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #8c31e4;
			border-color: #8526e3;
		}
	}
}

.show>.btn-purple.dropdown-toggle {
	color: $white;
	background-color: #8c31e4;
	border-color: #8526e3;
}

.btn-purple:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(165, 94, 234, 0.5);
	}
}

.show>.btn-purple.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(165, 94, 234, 0.5);
}

.btn-pink {
	color: $white;
	background-color: $secondary;
	border-color: $secondary;
	&:hover {
		color: $white;
		background-color: #e61470;
		border-color: #e61470;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(246, 109, 155, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: $secondary;
		border-color: $secondary;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #e61470;
			border-color: #e61470;
		}
	}
}

.show>.btn-pink.dropdown-toggle {
	color: $white;
	background-color: #e61470;
	border-color: #e61470;
}

.btn-pink:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(246, 109, 155, 0.5);
	}
}

.show>.btn-pink.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(246, 109, 155, 0.5);
}

.btn-red {
	color: $white;
	background-color: $danger;
	border-color: $danger;
	&:hover {
		color: $white;
		background-color: #fb5b50;
		border-color: #fb5b50;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(205, 32, 31, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: $danger;
		border-color: $danger;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #fb5b50;
			border-color: #fb5b50;
		}
	}
}

.show>.btn-red.dropdown-toggle {
	color: $white;
	background-color: #fb5b50;
	border-color: #fb5b50;
}

.btn-red:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(205, 32, 31, 0.5);
	}
}

.show>.btn-red.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(205, 32, 31, 0.5);
}

.btn-orange {
	color: $white;
	background-color: $orange;
	border-color: $orange;
	&:hover {
		color: $white;
		background-color: #fd811e;
		border-color: #fc7a12;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(253, 150, 68, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: $orange;
		border-color: $orange;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #fc7a12;
			border-color: #fc7305;
		}
	}
}

.show>.btn-orange.dropdown-toggle {
	color: $white;
	background-color: #fc7a12;
	border-color: #fc7305;
}

.btn-orange:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(253, 150, 68, 0.5);
	}
}

.show>.btn-orange.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(253, 150, 68, 0.5);
}

.btn-yellow {
	color: $white;
	background-color: $yellow;
	border-color: $yellow;
	&:hover {
		color: $white;
		background-color: #ffaa33;
		border-color: #ffaa33;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(241, 196, 15, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: $yellow;
		border-color: $yellow;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #ffaa33;
			border-color: #b6940b;
		}
	}
}

.show>.btn-yellow.dropdown-toggle {
	color: $white;
	background-color: #ffaa33;
	border-color: #b6940b;
}

.btn-yellow:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(241, 196, 15, 0.5);
	}
}

.show>.btn-yellow.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(241, 196, 15, 0.5);
}

.btn-green {
	color: $white;
	background-color: $success;
	border-color: $success;
	&:hover {
		color: $white;
		background-color: #3adfab;
		border-color: #3adfab;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(94, 186, 0, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: $success;
		border-color: $success;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #3adfab;
			border-color: #3adfab;
		}
	}
}

.show>.btn-green.dropdown-toggle {
	color: $white;
	background-color: #3adfab;
	border-color: #3adfab;
}

.btn-green:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(94, 186, 0, 0.5);
	}
}

.show>.btn-green.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(94, 186, 0, 0.5);
}

.btn-teal {
	color: $white;
	background-color: $teal;
	border-color: $teal;
	&:hover {
		color: $white;
		background-color: #05fafa;
		border-color: #05fafa;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(43, 203, 186, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: $teal;
		border-color: $teal;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #05fafa;
			border-color: #05fafa;
		}
	}
}

.show>.btn-teal.dropdown-toggle {
	color: $white;
	background-color: #05fafa;
	border-color: #05fafa;
}

.btn-teal:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(43, 203, 186, 0.5);
	}
}

.show>.btn-teal.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(43, 203, 186, 0.5);
}

.btn-cyan {
	color: $white;
	background-color: #17a2b8;
	border-color: #17a2b8;
	&:hover {
		color: $white;
		background-color: #138496;
		border-color: #117a8b;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(23, 162, 184, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #17a2b8;
		border-color: #17a2b8;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #117a8b;
			border-color: #10707f;
		}
	}
}

.show>.btn-cyan.dropdown-toggle {
	color: $white;
	background-color: #117a8b;
	border-color: #10707f;
}

.btn-cyan:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(23, 162, 184, 0.5);
	}
}

.show>.btn-cyan.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(23, 162, 184, 0.5);
}

.btn-white {
	color: #3d4e67;
	background-color: $white;
	border-color: rgba(167, 180, 201, 0.6);
	&:hover {
		color: #3d4e67;
		background-color: #e9ecfb;
		border-color: #e9ecfb;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px $white-5;
	}
	&.disabled,
	&:disabled {
		color: #3d4e67;
		background-color: $white;
		border-color: $white;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: #3d4e67;
			background-color: #e9ecfb;
			border-color: #e9ecfb;
		}
	}
}

.show>.btn-white.dropdown-toggle {
	color: #3d4e67;
	background-color: #e9ecfb;
	border-color: #e9ecfb;
}

.btn-white:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px $white-5;
	}
}

.show>.btn-white.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px $white-5;
}

.btn-gray {
	color: $white;
	background-color: #868e96;
	border-color: #868e96;
	&:hover {
		color: $white;
		background-color: #727b84;
		border-color: $color;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(134, 142, 150, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #868e96;
		border-color: #868e96;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: $color;
			border-color: #666e76;
		}
	}
}

.show>.btn-gray.dropdown-toggle {
	color: $white;
	background-color: $color;
	border-color: #666e76;
}

.btn-gray:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(134, 142, 150, 0.5);
	}
}

.show>.btn-gray.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(134, 142, 150, 0.5);
}

.btn-gray-dark {
	color: $white;
	background-color: $dark;
	border-color: $dark;
	&:hover {
		color: $white;
		background-color: #23272b;
		border-color: #1d2124;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(52, 58, 64, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: $dark;
		border-color: $dark;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #1d2124;
			border-color: #171a1d;
		}
	}
}

.show>.btn-gray-dark.dropdown-toggle {
	color: $white;
	background-color: #1d2124;
	border-color: #171a1d;
}

.btn-gray-dark:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(52, 58, 64, 0.5);
	}
}

.show>.btn-gray-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(52, 58, 64, 0.5);
}

.btn-azure {
	color: $white;
	background-color: #00d6e6;
	border-color: #00d6e6;
	&:hover {
		color: $white;
		background-color: #219af0;
		border-color: #1594ef;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(69, 170, 242, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: #00d6e6;
		border-color: #00d6e6;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #1594ef;
			border-color: #108ee7;
		}
	}
}

.show>.btn-azure.dropdown-toggle {
	color: $white;
	background-color: #1594ef;
	border-color: #108ee7;
}

.btn-azure:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(69, 170, 242, 0.5);
	}
}

.show>.btn-azure.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(69, 170, 242, 0.5);
}

.btn-lime {
	color: $white;
	background-color: $lime;
	border-color: $lime;
	&:hover {
		color: $white;
		background-color: #69b829;
		border-color: #63ad27;
	}
	&:focus,
	&.focus {
		box-shadow: 0 0 0 2px rgba(123, 210, 53, 0.5);
	}
	&.disabled,
	&:disabled {
		color: $white;
		background-color: $lime;
		border-color: $lime;
	}
	&:not(:disabled):not(.disabled) {
		&:active,
		&.active {
			color: $white;
			background-color: #63ad27;
			border-color: #5da324;
		}
	}
}

.show>.btn-lime.dropdown-toggle {
	color: $white;
	background-color: #63ad27;
	border-color: #5da324;
}

.btn-lime:not(:disabled):not(.disabled) {
	&:active:focus,
	&.active:focus {
		box-shadow: 0 0 0 2px rgba(123, 210, 53, 0.5);
	}
}

.show>.btn-lime.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(123, 210, 53, 0.5);
}

.btn-option {
	background: transparent;
	color: #a7b4c9;
	&:hover {
		color: #5f6877;
	}
	&:focus {
		box-shadow: none;
		color: #5f6877;
	}
}

.btn-sm,
.btn-group-sm>.btn {
	font-size: 0.75rem;
	min-width: 1.625rem;

}

.btn-lg,
.btn-group-lg>.btn {
	font-size: 1.09rem;
	min-width: 2.75rem;
	font-weight: 400;
}

.btn-list {
	margin-bottom: -.5rem;
	font-size: 0;
	> {
		.btn,
		.dropdown {
			margin-bottom: .5rem;
		}
		.btn:not(:last-child),
		.dropdown:not(:last-child) {
			margin-right: .5rem;
		}
	}
}

.btn-loading {
	color: transparent !important;
	pointer-events: none;
	position: relative;
	&:after {
		content: '';
		-webkit-animation: loader 500ms infinite linear;
		animation: loader 500ms infinite linear;
		border: 2px solid $white;
		border-radius: 50%;
		border-right-color: transparent !important;
		border-top-color: transparent !important;
		display: block;
		height: 1.4em;
		width: 1.4em;
		position: absolute;
		left: calc(50% - (1.4em / 2));
		top: calc(50% - (1.4em / 2));
		-webkit-transform-origin: center;
		transform-origin: center;
		position: absolute !important;
	}
	&.btn-sm:after {
		height: 1em;
		width: 1em;
		left: calc(50% - (1em / 2));
		top: calc(50% - (1em / 2));
	}
}

.btn-group-sm>.btn-loading.btn:after {
	height: 1em;
	width: 1em;
	left: calc(50% - (1em / 2));
	top: calc(50% - (1em / 2));
}

.btn-loading.btn-secondary:after {
	border-color: #3d4e67;
}

.btn-send {
	background: none repeat scroll 0 0 #00a8b3;
	color: $white;
	&:hover {
		background: none repeat scroll 0 0 #00a8b3;
		color: $white;
		background: none repeat scroll 0 0 #009da7;
	}
}

.btn-group,
.btn-group-vertical {
	position: relative;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: middle;
}

.btn-group>.btn,
.btn-group-vertical>.btn {
	position: relative;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}

.btn-group>.btn:hover,
.btn-group-vertical>.btn:hover {
	z-index: 1;
}

.btn-group>.btn {
	&:focus,
	&:active,
	&.active {
		z-index: 1;
	}
}

.btn-group-vertical>.btn {
	&:focus,
	&:active,
	&.active {
		z-index: 1;
	}
}

.btn-group {
	.btn+ {
		.btn,
		.btn-group {
			margin-left: -1px;
		}
	}
	.btn-group+ {
		.btn,
		.btn-group {
			margin-left: -1px;
		}
	}
}

.btn-group-vertical {
	.btn+ {
		.btn,
		.btn-group {
			margin-left: -1px;
		}
	}
	.btn-group+ {
		.btn,
		.btn-group {
			margin-left: -1px;
		}
	}
}

.btn-toolbar {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: start;
	justify-content: flex-start;
	.input-group {
		width: auto;
	}
}

.btn-group> {
	.btn {
		&:first-child {
			margin-left: 0;
		}
		&:not(:last-child):not(.dropdown-toggle) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	.btn-group:not(:last-child)>.btn {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.btn:not(:first-child),
	.btn-group:not(:first-child)>.btn {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.btn-sm+.dropdown-toggle-split,
.btn-group-sm>.btn+.dropdown-toggle-split {
	padding-right: 0.375rem;
	padding-left: 0.375rem;
}

.btn-lg+.dropdown-toggle-split,
.btn-group-lg>.btn+.dropdown-toggle-split {
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}

.btn-group-vertical {
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: center;
	justify-content: center;
	.btn,
	.btn-group {
		width: 100%;
	}
	> {
		.btn+ {
			.btn,
			.btn-group {
				margin-top: -1px;
				margin-left: 0;
			}
		}
		.btn-group+ {
			.btn,
			.btn-group {
				margin-top: -1px;
				margin-left: 0;
			}
		}
		.btn:not(:last-child):not(.dropdown-toggle),
		.btn-group:not(:last-child)>.btn {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		.btn:not(:first-child),
		.btn-group:not(:first-child)>.btn {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}

.btn-group-toggle> {
	.btn,
	.btn-group>.btn {
		margin-bottom: 0;
	}
	.btn input {
		&[type="radio"],
		&[type="checkbox"] {
			position: absolute;
			clip: rect(0, 0, 0, 0);
			pointer-events: none;
		}
	}
	.btn-group>.btn input {
		&[type="radio"],
		&[type="checkbox"] {
			position: absolute;
			clip: rect(0, 0, 0, 0);
			pointer-events: none;
		}
	}
}

.btn-compose {
	background: none repeat scroll 0 0 #ff6c60;
	color: $white;
	padding: 12px 0;
	text-align: center;
	width: 100%;
	&:hover {
		background: none repeat scroll 0 0 #f5675c;
		color: $white;
	}
}

btn.dropdown-toggle~.dropdown-menu,
ul.dropdown-menu li.dropdown ul.dropdown-menu {
	background-color: rgb(244, 244, 244) !important;
	background-color: rgb(255, 255, 255) !important;
	border: 0 solid rgb(66, 133, 244) !important;
	box-shadow: 0px 0px 3px rgba(25, 25, 25, 0.3) !important;
	top: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
}

.btn {
	&.dropdown-toggle {
		&.btn-primary~.dropdown-menu .dropdown-plus-title {
			border-color: rgb(5, 117, 230) !important;
		}
		&.btn-success~.dropdown-menu .dropdown-plus-title {
			border-color: rgb(76, 174, 76) !important;
		}
		&.btn-info~.dropdown-menu .dropdown-plus-title {
			border-color: rgb(70, 184, 218) !important;
		}
		&.btn-warning~.dropdown-menu .dropdown-plus-title {
			border-color: rgb(238, 162, 54) !important;
		}
		&.btn-danger~.dropdown-menu .dropdown-plus-title {
			border-color: rgb(212, 63, 58) !important;
		}
	}
	.badge {
		position: relative;
		top: -1px;
	}
}

.btn-overlay span {
	display: block;
	margin: 0.5rem;
	font-size: 16px;
	font-weight: 600;
}